<!-- Displays all cards passed here.
Card structure:
cards = [
    {
        int "value",
        string "suit",
        string "toString",
        string "cssClass",
    }
]
-->
<div class="flex align-center space-evenly card-container">
{% for card in cards %}
    <div class="flex align-center justify-center card {{card.cssClass}} ">
        <p>{{card.toString}}</p>
    </div>
{% endfor %}
</div>
