{% extends "poker/game/base.html.twig" %}
{% block controls %}
<form method="post" action="{{url("proj-play-process")}}">
    <button type="submit" name="type" value="BLIND">Blind ${{game.smallBlind}}</button>
</form>
{% endblock %}
