{% extends "base.html.twig" %}
{% block content %}
<h1>Players turn</h1>
{% include "views/flash.html.twig" %}
<h2>Bank</h2>
{% include "views/carddiv.html.twig" with {"cards": cpu.hand} %}
<p class="text-center">
    Possible points:
    {% for point in cpu.points %}
    {{point}} 
    {% endfor %}
</p>
<h2>Your cards</h2>
{% include "views/carddiv.html.twig" with {"cards": player.hand} %}
<form action={{url("game-play-process")}} method="post">
    <div class="flex flex-row align-center space-evenly">
        <div>
            <p class="text-center">
                Possible points:
                {% for point in player.points %}
                {{point}} 
                {% endfor %}
            </p>
        </div>
        <div>
            <button type="submit" name="type" value="PLAYER_DRAW">Draw a card</button>
            <button type="submit" name="type" value="PLAYER_LOCK">Lock in</button>
        </div>
    </div>

</form>
{% endblock %}
