{% extends "base.html.twig" %}
{% block content %}
<h1>Final results - {{resultMessage}}</h1>
{% include "views/flash.html.twig" %}
<h2>Bank</h2>
{% include "views/carddiv.html.twig" with {"cards": cpu.hand} %}
<p class="text-center">
    Points: {{cpu.points}}
</p>
<h2>Your cards</h2>
{% include "views/carddiv.html.twig" with {"cards": player.hand} %}
<p class="text-center">
    Points: {{player.points}}
</p>
<form class="flex flex-row space-evenly align-center"action={{url("game-play-process")}} method="post">
    <button type="submit" name="type" value="NEW_ROUND">New round</button>
</form>
{% endblock %}