{% extends "base.html.twig" %}
{% block content %}
    <h1>Alla böcker</h1>
    <h2 class="text-center">Här hittar du alla böcker som finns att låna.</h2>
    <table>
        <thead>
            <th>Titel</th>
            <th>ISBN</th>
            <th>Författare</th>
        </thead>
        <tbody>
            <!-- Loop through all dem books -->
        </tbody>
    </table>
{% endblock %}
