{% extends "base.html.twig" %}
{% block content %}
    <h1>Bok navigations centralen</h1>
    <ul>
        <li><a href={{url("book-list")}}>Visa alla böcker</a></li>
        <li><a href={{url("book-add")}}>Lägg till en ny bok</a></li>
    </ul>
{% endblock %}
