{% extends "base.html.twig" %}
{% block content %}
    <h1>Bibliotekets navigation central</h1>
    <ul>
        <!-- <li><a href={{url("game-play")}}>Visa alla böcker</a></li>
        <li><a href={{url("game-reset")}}>Lägg till en ny bok</a></li> -->
    </ul>
{% endblock %}
