{% extends "base.html.twig" %}
{% block content %}
<h1>Utdelning av kort</h1>
{% include "views/flash.html.twig" %}
{% include "views/players.html.twig" %}
<h2 class="text-center">Kortleken</h2>
{% include "views/carddiv.html.twig" %}
{% endblock %}
