{% extends "base.html.twig" %}
{% block content %}
    <h1>Kort navigations centralen</h1>
    <ul>
        <li><a href={{url("game-play")}}>Spela 21</a></li>
        <li><a href={{url("game-reset")}}>Starta om spelet</a></li>
        <li><a href={{url("game-doc")}}>Spel dokumentation/Problemlösning</a></li>
    </ul>
{{dump(game)}}
{% endblock %}
