<div class="site-header flex space-between">
    <div>
        Poker
    </div>
    <ul class="navbar flex">
        <li><a href="{{url("proj")}}">Index</a></li>
        <li><a href="{{url("proj-login")}}">Login</a></li>
        <li><a href="{{url("proj-user")}}">User</a></li>
        <li><a href="{{url("proj-register")}}">Register</a></li>
    </ul>
</div>